

/****** register page*********/

.login-form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  h2 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 20px;
  }
  
  .login-input {
    height: 50px;
    width: 350px;
    font-size: 20px;
    margin: 10px;
    color: #424242;
    border: none;
    border: 1px solid rgb(181, 178, 178);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding-left: 20px;
  } 
  
  .login-input::placeholder,
  .textarea::placeholder {
    font-size: 15px;
    font-weight: 600;
    font-size: 15px;
  } 
  
  .btn {
    margin: 10px 0px;
    padding: 10px 40px;
    background-color: black;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .login-text {
    font-size: 15px;
    color: rgb(66, 65, 65);
    margin-bottom: 15px;
  }
  
  .login-link {
    text-decoration: none;
    color: rgb(94, 36, 156);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
  }
  
  
  